<!DOCTYPE html>
<html>
<head>
  <title>Translator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body align="middle"><br>
<h1><font color="red" size=18>Q</font>TRANSLATOR</h1><br><br><br>

<%= yield %>

</body>
</html>